
@keyframes float {
  0%, 100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-13px);
  }
}

.magicBall-anime {
  animation: float 2s ease-in-out infinite;
}

.landing-slide {
  animation: slide-from-left 0.5s ease-out forwards;
}
@keyframes slide-from-left {
  from {
    translate: -40px 0px;
    opacity: 0;
  }
  to {
     translate: 0px 0px;
    opacity: 1;
  }
}

.transform-anime{
animation: resize-anime 0.5s ease-in ;
}

@keyframes resize-anime{
  0%{
    transform: scale(0.5);
    opacity: 0;
  }
  100%{
    transform: scale(1);
    opacity: 1;
  }

}
