
.mobile-nav{
    animation: slideDown 0.1s ease-in-out;
}
.mobileNav-toggler{
    display: none;
}


.rotateLeft{
    animation: rotateLeft 0.2s ease-in-out;
}
.rotateRight{
     animation: rotateRight 0.2s ease-in-out;
}


@keyframes slideDown{
    0%{
        translate: 0px -20px;
        opacity: 0;
    }
    100%{
         translate: 0px 0px;
        opacity: 1;
    }
}

@keyframes rotateLeft {
    0%{
        opacity: 0;
        rotate: -90deg;

    }
    100%{
        opacity: 1;
        rotate: 0deg;
    }
}
@keyframes rotateRight {
    0%{
        opacity: 0;
        rotate: 90deg;

    }
    100%{
        opacity: 1;
        rotate: 0deg;
    }
}

@media screen and (max-width:500px) {

    .web-nav{
        display: none;
    }
    .mobile-nav{
        display: flex;
    }
    .theme-toggle{
    right:70px
    }
    .mobileNav-toggler{
        display: block;
    }
    
}